[Unit]
Description=GPSD to Influx
After=gpsd.service
Requires=gpsd.service
PartOf=gpsd.service

[Service]
WorkingDirectory=/opt/gpsd_influx2/
ExecStart=/usr/bin/python3 /opt/gpsd_influx2/gpsd_influx2.py -s
KillMode=process
Restart=on-failure
User=<user>

[Install]
WantedBy=multi-user.target
